/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.nav {

    li > a {
        display: block;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 500;
        color: #999;
    }

    .active > a {
        font-weight: 700;
        color: black;
        border-left: 2px solid black;
    }
}
.nav {
    margin-top: 40px;
}
body {
    position: relative;
}

h1, h2, h3, h4 {
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}

.source {
    font-size: 15px;
    font-style: italic;
    color: #9D9D9D;
    font-family: $base-font-family;
}
.blockquote {
    float: left;
    margin-bottom: 50px;
    .text {
        width: 450px;
        float: right;
        border-bottom: 1px solid #9D9D9D;
        border-top: 1px solid #9D9D9D;
        font-family: Arial;
        font-size: 15px;
        padding: 15px 0px 30px 0px;
    }
    .source {
        margin-top: 25px;
        float: left;
        width: 200px;
        padding-right: 30px;
    }

}
.short-quote {
    font-style: italic;
    margin-top: -$spacing-unit * 0.4;
    margin-bottom: $spacing-unit / 2;
}
.long-quote {
    float: left;
    font-family: Arial;
    margin-bottom: $spacing-unit;
    .content {
        padding-left: $spacing-unit;
    }
}

ul {
    margin-top: -$spacing-unit * 0.4;
    margin-left: $spacing-unit * 0.6;
    &.short {
        list-style: none inside none;
    }
    &.dash {
        list-style-type: none;
        margin-left: $spacing-unit * 0.3;
        li:before {
            content: "-";
            position: relative;
            left: -5px;
        }
        li {
            text-indent: -5px;
        }
    }
}
.clear-bottom-fix {
    margin-bottom: 0px;
}

.chapter {
    padding-bottom: 60px;
    float: left;

    .content {
        width: 650px;
        float: left;
    }
    .reference {
        float: left;
        width: 300px;
        font-size: 14px;
        padding: 5px 0px 0px 75px;
    }
}
