body {
    position: relative;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    color: rgba(0, 0, 0, 0.8);
}
/**
 * Site header
 */
.site-header {
    min-height: 51px;

    // Positioning context for the mobile navigation icon
    position: relative;
}
.navbar {
    font-family: $additional-font-family;
    font-size: 14px;
    background-color: #fff;
    border-bottom: solid 1px #E8E8E8;
    .navbar-header {
        padding-left: 30px;
    }
    .navbar-brand {
        font-size: 14px;
    }
}
.header {
    padding-bottom: 60px;
    img {
        width: 100%
    }
}
.infoblock {
    width: 213px;
    height: 161px;
    background-color: #fff;
    position: absolute;
    padding: 25px 20px;
    left: 25%;
    top: 180px;
    border: solid 1px #E8E8E8;
    .caption {
        padding-top: 20px;
        font-family: $additional-font-family;
        font-size: 14px;
    }
}

.content {
    float: right;
    width: 75%;
}
.left-column {
    float: left;
    width: 25%;
    min-height: 1px;
    position: relative;
    padding-right: 15px;

    .toc {
        font-family: $additional-font-family;
        font-size: 14px;
        padding-left: 40px;
        li > a {
            display: block;
            padding: 4px 20px;
            font-weight: 500;
            color: #000;
        }

        .active > a {
            font-weight: 700;
            color: #34880a;
        }
        &.affix-top {
            padding-top: 30px;
        }
        &.affix {
            top: 100px;
        }
    }
}


h3 {
    font-size: 44px;
}
h4 {
    font-size: 30px;
}

.source {
    font-size: 16px;
    font-style: italic;
    color: #9D9D9D;
    font-family: $base-font-family;
}
.blockquote {
    margin-bottom: 50px;
    width: 100%;
    .text {
        display: inline-block;
        width: 443px;
        border-bottom: 1px solid #9D9D9D;
        border-top: 1px solid #9D9D9D;
        font-family: Roboto;
        font-size: 15px;
        padding: 15px 0px 30px 0px;
    }
    .source {
        display: inline-block;
        margin-top: 25px;
        width: 151px;
        padding-right: 51px;
    }

}
.hanging-apostrophe {
    margin-left: -0.5em;
}
.highlight {
    font-style: italic;
    margin-top: -$spacing-unit * 0.4;
    margin-bottom: $spacing-unit / 2;

    &.long {
        margin-top: $spacing-unit * 0.5;
    }
}
.citation {
    float: left;
    font-family: Roboto;
    font-size: 24px;
    margin-bottom: $spacing-unit;
    .content {
        padding-left: $spacing-unit;
    }
}

ul {
    margin-top: -$spacing-unit * 0.4;
    margin-left: $spacing-unit * 0.6;
    &.short {
        list-style: none inside none;
    }
    &.dash {
        margin-bottom: $spacing-unit;
        list-style: outside none none;
        margin-left: 0em;
        padding-left: 1.2em;
        text-indent: -1em;
        li:before {
            content: "—";
            position: relative;
            left: -0.2em;
        }
        li {
            margin-bottom: 0.5em;
        }
        li.last {
            margin-bottom: 0em;
        }
    }
}
.clear-fix {
    margin-bottom: 0px;
}

.chapter {
    padding-bottom: 85px;
    float: left;

    .content {
        width: 645px;
        float: left;
    }
    .reference {
        float: left;
        width: 170px;
        font-size: 14px;
        margin: 5px 0px 0px 75px;
    }
}
