---
layout: default
---

<div>
  <div class="row">
    <div class="col-md-2">
      <div class="toc">
        <div data-spy="affix" data-offset-top="0" data-offset-bottom="20">
          <ul class="nav" role="navigation">
              <li><a href="#general" class="">Общее</a></li>
              <li><a href="#values" class="">Ценности</a></li>
              <li><a href="#roles" class="">Роли и структура</a></li>
              <li><a href="#information-flow" class="">Информационный поток</a></li>
              <li><a href="#decision-making" class="">Принятие решений</a></li>
              <li><a href="#conflict-resolution" class="">Разрешение конфликтов</a></li>
              <li><a href="#investments" class="">Инвестиции и бюджет</a></li>
              <li><a href="#salary" class="">Зарплаты и премии</a></li>
              <li><a href="#performance-evaluation" class="">Оценка производительности</a></li>
              <li><a href="#hiring" class="">Найм</a></li>
              <li><a href="#firing" class="">Увольнение</a></li>
              <li><a href="#work-schedule" class="">График работы</a></li>
              <li><a href="#personal-development" class="">Профессиональное развитие</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
  </div>
</div>
